# ignored file types
*.html
*.lib 

# ignored files

# bootleg-steward-platform.uvguix.Naitao
# bootleg-steward-platform.uvoptx
# bootleg-steward-platform.uvprojx

# ignored folders
/inverse-kinematics/libraries/visualizer/visualization_env/
/.vscode/
BUILD/