# ignored file types
*.html
*.lib 

# ignored files

# bootleg-steward-platform.uvguix.Naitao
# bootleg-steward-platform.uvoptx
# bootleg-steward-platform.uvprojx

# ignored folders
/Visualizer/visualization_env/
/Visualizer/vis_env/
/.vscode/
BUILD/